DATABASE_URL="postgresql://collection:collection@localhost:5432/collection?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-at-least-32-random-characters"
LOCAL_UPLOAD_DIR="public/uploads"
